.product-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  h3 {
    text-align: left;
    color: dodgerblue;
    font-size: 500;
    font-size: 20px;
    margin-top: 20px;
    height: 50px;
  }
}

.product__img {
  width: 275px;
  height: 230px;
}
