footer {
  background-color: #4361ee;
  width: 100%;
  margin-top: 100px;
  padding: 50px 0;
  color: #fff;
}
.location {
  width: 40px;
  height: 40px;
  color: white;
}
.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.footer__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__box {
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 17px;
    line-height: 30px;
    opacity: 0.7;
    margin-top: 5px;
  }
}
.footer__hr {
  opacity: 0.7;
  width: 100%;
  margin: 40px 0;
}
.footer__wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper__item {
  p {
    font-size: 17px;
    line-height: 30px;
    opacity: 0.7;
  }
  h2 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
  }
  button {
    font-size: 17px;
    line-height: 30px;
    opacity: 0.7;
    border: none;
    width: 203px;
    background-color: transparent;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
  .footer__wrap {
    display: flex;
    width: 33%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}

.footer__logo-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__logo-box div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border: 1px solid #fff;
}
.footer__logo-box svg {
  width: 25px;
  height: 25px;
}
